#error {
  top: 0px;
  left: 30%;
  right: 30%;
  height: 205px;
  position: fixed;
  background-color:rgba(22, 25, 27, 0.9);
  border-width: 4px;
  border-style: groove;
  border-color: rgba(47, 148, 206, 0.9);
  border-bottom: rgba(22, 25, 27, 0.9);
  text-align: center;
}
h1, h2, p {
  font-family: Lato;
}
ul {
  padding: 0;
  margin: 260px 0 50px 0;
}
li {
  list-style-type: none;
  padding: 10px;
  margin: 20px 30% 20px 30%;
  background-color:rgba(61, 120, 175, 0.45);
  border-width: 4px;
  border-style: groove;
  border-top: rgba(61, 120, 175, 0.45);
  border-bottom: rgba(61, 120, 175, 0.45);
  border-color: rgba(47, 148, 206, 0.9);
  border-radius: 15px;
}
form {
  margin: 0 20px 0px 20px;
}
.inp-form {
  width: 90%;
}
.btn-form {
  width: 30%;
  margin: 20px 10px 10px 10px;
}
.btn:focus {
    box-shadow: none;
}
.form-container {
  display: flex;
  justify-content: center;
}
.header {
  top: 0px;
  left: 30%;
  right: 30%;
  height: 235px;
  position: fixed;
  background-color:rgba(22, 25, 27, 0.9);
  border-width: 4px;
  border-style: groove;
  border-color: rgba(47, 148, 206, 0.9);
  border-bottom: rgba(22, 25, 27, 0.9);
  text-align: center;
}
.footer {
  bottom: 0px;
  left: 30%;
  right: 30%;
  height: 30px;
  position: fixed;
  background-color:rgba(22, 25, 27, 0.9);
  border-width: 4px;
  border-style: groove;
  border-color: rgba(47, 148, 206, 0.9);
  border-top: rgba(22, 25, 27, 0.9);
  margin-top: 20px;
  text-align: center;
}
@media screen and (max-width: 1176px) {
  li {
    margin: 20px 10% 20px 10%;
  }
  .header, .footer, #error {
    left: 10%;
    right: 10%;
  }
  .btn-form {
    width: 40%;
  }
}