h1, p {
  font-family: Lato;
}
ul {
  padding: 0;
  margin:15px 0 0 0;
}
li {
  list-style-type: none;
  padding: 10px;
  margin: 30px;
  background-color:rgba(61, 120, 175, 0.411);
  border-radius: 10px;
}
form {
  margin: 0 40px 40px 40px;
}
button {
  margin: 15px 10px 0 0;
}
.btn:focus {
    box-shadow: none;
}
.header {
  top: 30px;
  left: 30px;
  right: 30px;
  position: fixed;
  background-color:rgba(22, 25, 27, 0.9);
  border-width: 2px;
  border-style: solid;
  border-color: rgba(47, 148, 206, 0.9);
  border-radius: 10px;
  text-align: center;
}
main {
  margin-top: 300px;
}
#root {
  margin: 0 10% 0 10%;
}