h2, p {
  font-family: Lato;
}
ul {
  padding: 0;
  margin: 275px 0 0 0;
}
li {
  list-style-type: none;
  padding: 10px;
  margin: 20px 20% 20px 20%;
  background-color:rgba(61, 120, 175, 0.411);
  border-radius: 10px;
}
form {
  margin: 0 20px 0px 20px;
}
.inp-form {
  width: 80%;
}
.btn-form {
  width: 30%;
  margin: 20px 10px 10px 10px;
}
.btn:focus {
    box-shadow: none;
}
.form-container {
  display: flex;
  justify-content: center;
}
.header {
  top: 20px;
  left: 10%;
  right: 10%;
  height: 235px;
  position: fixed;
  background-color:rgba(22, 25, 27, 0.9);
  border-width: 2px;
  border-style: solid;
  border-color: rgba(47, 148, 206, 0.9);
  border-radius: 10px;
  text-align: center;
}